<%= render 'logobar' %>

<h2 align="center"><b><%= @title %></b></h2>

<div class="row">
	<div class="container">
		<div class="col-lg-12 col-md-12 col-sm-12">
			<p style="margin-bottom: 1em;"><%= link_to 'Voltar', admin_index_path, class: 'btn btn-default' %></p>
			<table class="table table-bordered">
				<thead>
					<th>Data</th>
					<th>Nome</th>
					<th>Email</th>
				</thead>
				<tbody>
					<% @forms.each do |form| %>
					<tr>
						<td><%= date_br(form.created_at) %></td>	
						<td><%= form.name %></td>
						<td><%= form.email %></td>
						<td><%= link_to 'exibir', form_path(form), class: 'btn btn-primary' %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div> 
</div>