<%= render 'logobar' %>

<div class="row">
	<div class="container">
		<div class="col-lg-12 col-md-12 col-sm-12">
			<h2><b>MEUS ALBUNS</b></h2>
			<p style="margin-bottom: 1em; text-align: right;"><%= link_to 'Novo Album', new_picture_path, class: 'btn btn-primary' %></p>
			<table class="table table-bordered">
				<thead>
					<th>Nome do Album</th>
					<th>Data de Criação</th>
				</thead>
				<tbody>
					<% @pictures.each do |picture| %>
					<tr>
						<td><%= picture.name %></td>	
						<td><%= date_br(picture.created_at) %></td>
						<td><%= link_to 'exibir', picture_path(picture), class: 'btn btn-primary' %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div> 
</div>