<div class="row image-back front" style="margin-top: 0em"> <!-- begin logo bar -->
      <%= render '/menu' %>
      <h1 class="label-front">Resultados com Excelência!</h1>
</div>

<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12">

		<div class="white-center" style="">
			<h2>Conheça alguns de nossos serviços!</h2>
		</div>
	</div>
</div>

<div class="row">

	<div class="col-lg-12">
		<div class="col-lg-3 col-md-3 col-sm-6 box-1">
			<%= link_to (image_tag 'school-b.jpg'), consulting_school_path %>
			<h4>consultoria escolar</h4>
		</div>
		
		<div class="col-lg-3 col-md-3 col-sm-6 box-1">
			<div class="">
				<%= image_tag 'financial-b.jpg' %>
				<h4>consultoria financeira</h4>
			</div>
		</div>

		<div class="col-lg-3 col-md-3 col-sm-6 box-1">
			<div class="">
				<%= image_tag 'accounting-b.jpg' %>
				<h4>consultoria contábil</h4>
			</div>
		</div>

		<div class="col-lg-3 col-md-3 col-sm-6 box-1">
			<div class="">
				<%= image_tag 'company-b.png' %>
				<h4>consultoria empresarial</h4>
			</div>
		</div>
	</div>

</div>