<div class="col-lg-12 col-md-12 logo-bar">
  <div class="col-lg-3 col-md-2 col-sm-12" style="text-align: center; margin-top: 2.5em;">
    <%= link_to (image_tag 'logo.png', :width=> '180', :height=> '60'), root_path %>
  </div>
  <div class="col-lg-9 col-md-10 col-sm-12">
    <div class="navbar"> <!-- begin nav bar -->
      <input type="checkbox" id="bt_menu">
        <label for="bt_menu">&#9776;</label>
      <nav class="menus">
        <ul>
          <li>
            <%= link_to 'Institucional' %>
            <ul>
              <li><%= link_to 'Quem Somos?', institutional_me_path %></li>
              <li><%= link_to 'Nossa Equipe', institutional_equip_path %></li>
              <li><%= link_to 'Nossa Galeria' %></li>
            </ul>
          </li>
          <li>
            <%= link_to 'Cursos' %>
            <ul>
              <li><%= link_to 'Agenda de Cursos' %></li>
              <li><%= link_to 'Inscrições' %></li>
              <li><%= link_to 'Cursos em Parceria' %></li>
            </ul>
          </li>
          <li>
            <%= link_to 'Consultoría' %>
            <ul>
              <li><%= link_to 'Escolar', consulting_school_path %></li>
              <li><%= link_to 'Financeira', consulting_financial_path %></li>
              <li><%= link_to 'Empresarial', consulting_company_path %></li>
              <li><%= link_to 'Contábil' %></li>
              <li><%= link_to 'Pública', consulting_public_path %></li>
            </ul>
          </li>
          <li>
            <%= link_to 'Concursos' %>
            <ul>
              <li><%= link_to 'Abertos' %></li>
              <li><%= link_to 'Em Andamento' %></li>
              <li><%= link_to 'Finalizados' %></li>
            </ul>
          </li>
          <li>
            <%= link_to 'Fale Conosco' %>
            <ul>
              <li><%= link_to 'Duvidas', contacts_doubt_path %></li>
              <li><%= link_to 'Orçamentos', contacts_budget_path %></li>
              <li><%= link_to 'Nossos Contatos' %></li>
            </ul>
          </li>
          <li>
            <%= link_to 'Trabalhe Conosco' %>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>